<div class="container-fluid mt-4">


  <div class="container">

    <div class="bg-info p-3 pb-5 rounded-3">
      <div class="toolbar text-center text-white text-capitalize text-center my-2 mb-4">
        <h3 class="m-0">Find your Cowin</h3>
      </div>
      <div class="search-headers mb-3">
      <div class=" btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="searchBy">
       
       
        <label ngbButtonLabel class="btn-primary active">
          <input ngbButton type="radio" value="2"> Search by State
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" [value]="1"> Search by PIN code
        </label>
       </div>
       
      </div>
     
      <!-- <pre>{{searchBy}}</pre> -->
      <div class="mb-5 my-3 search-form">
        <form [formGroup]="searchForm">
          <div class="row">

            <div class="col" *ngIf="searchBy ==2">
              <ng-template #rt let-r="result" let-t="term">
                <ngb-highlight [result]="r.state_name" [term]="t"></ngb-highlight>
              </ng-template>
              <input id="typeahead-template"  (selectItem)="onStateChange($event)"  type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="state" 
              [ngbTypeahead]="search" [resultTemplate]="rt"
              [inputFormatter]="formatter" placeholder="Search State"/>
             
              <span class="font-12 text-white" *ngIf="submitted && !state">State code is
                required</span>
            </div>

            <div class="col" *ngIf="searchBy ==2 ">
              <ng-template #cities let-r="result" let-t="term">
                <ngb-highlight [result]="r.district_name" [term]="t"></ngb-highlight>
              </ng-template>
              <input id="typeahead-city-template" (selectItem)="onCityChange($event)"  type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="city" [ngbTypeahead]="searchCity" [resultTemplate]="cities"
              [inputFormatter]="cityFormatter" placeholder="Search City"/>
             
              <span class="font-12 text-white" *ngIf="submitted && !city">City code is
                required</span>
            </div>
            <div class="col" *ngIf="searchBy ==1">
            
              <input type="text" formControlName="pinCode" class="form-control  border-0 border-bottom p-3"
                placeholder="Enter Pin Code" aria-label="Enter Pin Code">
              <span class="font-12 text-white" *ngIf="submitted && searchForm['value']['pinCode'] == ''">Pin code is
                required</span>
            </div>

            <div class="col">
  
              <!-- <ngb-datepicker #dp [(ngModel)]="searchedDate" [ngModelOptions]="{standalone: true}"></ngb-datepicker> -->
              <!-- <ngx-datepicker formControlName="date"></ngx-datepicker> -->
              <input type="text" formControlName="date" class="form-control border-0 border-bottom p-3"
                placeholder="dd-mm-yyy" name="dp" formControlName="date" ngbDatepicker #d="ngbDatepicker"
                (click)="d.toggle()">
              <span class="font-12 text-white" *ngIf="submitted && searchedDate == ''">Date is required</span>
            </div>
  
            <div class="col-2">
              <button class="btn btn-primary btn-block w-100 py-2" (click)="findCowin();">Search</button>
            </div>
          </div>
        </form>
      </div>
  
  
    </div>

    <div class="text-center p-5" *ngIf="loader">
      <div class="loader"></div>
    </div>
    <div class="bg-white p-3 search-result" *ngIf="cowinResult && cowinResult.length && !loader">


      <div *ngIf='searchBy == 1' class="table-responsive requests_table">
        <table class="table">
          <thead>
            <tr>
              <th><strong>&nbsp;</strong></th>
              <th><strong>Vaccine</strong></th>
              <th><strong>Age</strong></th>
              <th><strong>Fee</strong></th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let res of cowinResult; index as i">
              <td data-label="Hospital Name">
                <span class="text-info font-w-400 font-17">{{res['name']}} </span>
                <div>
                  <span class="font-12 font-w-400">From: {{res['from']}} - TO: {{res['to']}}</span>
                  <!-- <span class="badge bg-info rounded-1 text-black-50 d-inline-block mx-1" *ngFor="let slot of res['slots'] ; index as j">
                {{slot}}
              </span>    -->
                </div>
              </td>
              <td data-label="Vaccine">{{res['vaccine']}}</td>
              <td data-label="Age">{{res['min_age_limit']}}</td>

              <td data-label="Status">
                <span class="badge bg-info rounded-1 d-inline-block mx-1 text-white px-3 py-2">{{res['fee_type']}}</span><br>
                <span class="font-12"> ({{res['fee']}} INR)</span>

              </td>


            </tr>


          </tbody>
        </table>
      </div>


      <div *ngIf='searchBy == 2'  class="table-responsive requests_table">
        <table class="table">
          <thead>
            <tr>
              <th><strong>&nbsp;</strong></th>
              <th class="pb-0 " *ngFor="let res of calander; index as i">
                <strong class="text-center bg-light py-3 px-3">{{res}}</strong>
              </th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let res of cowinResult; index as i">
              <td data-label="Hospital Name">
                <span class="text-info font-w-400 font-17">{{res['name']}} <span class="badge bg-info rounded-1 d-inline-block mx-1 text-white font-weight-light">{{res['fee_type']}}</span></span>
                <div>
                  <span class="font-12 font-w-400">From: {{res['from']}} - TO: {{res['to']}}</span>  
                 
                </div>
              </td>
          
              <td *ngFor="let slot of calander ; index as j" class="text-center">

                <span *ngIf="res['sessions'][j]">
                  <span class="badge badge-success rounded-pill text-white font-weight-light px-2 d-inline-block mx-1" *ngIf="res['sessions'][j]['available_capacity'] > 0">
                    {{res['sessions'][j]['available_capacity']}}
                  
                  </span>  

                  
                  
                  <span class="badge badge-danger rounded-pill text-white font-weight-light px-2 d-inline-block mx-1" *ngIf="res['sessions'][j]['available_capacity'] == 0">
                    Booked
          
                  </span>  
                  <span class="d-block font-12 font-w-400 mt-2"> {{res['sessions'][j]['min_age_limit']}}+</span>
                 
                </span>

                <span *ngIf="!res['sessions'][j]">
                  NA
                </span>

                
              </td>

            </tr>


          </tbody>
        </table>
      </div>



      
    </div>


  </div>

 
</div>
<toaster-container></toaster-container>